/* Reset some default styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:#b5e1f4;
}

.login_sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_page_design {
    background: blur;
    padding: 60px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.head_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 4px;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: blue;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-link a {
    text-decoration: none;
    color: #007BFF;
    
}

.register-link {
    margin-top: 20px;
}

.image1_login {
    float: right;
    width: 500px;
    margin-right: 70px;
}

.div1_login{
    background-color: white;

}
